In [1]:
def plus(a,b):
    return a+b

In [2]:
plus(9,8)

17

In [3]:
def plus(a,b,c = 10):
    return a+b+c

In [4]:
plus(2,3)

15

In [5]:
plus(9,8,9)

26

In [6]:
def substract(a,b):
    return a-b

In [7]:
substract(9,8)

1

In [8]:
def power(y ,x=2):
    return x**y

In [9]:
power(6)

64

In [48]:
# Function to demonstrate printing pattern
def pypart(n):
     
    # outer loop to handle number of rows
    # n in this case
    for i in range(0, n):
     
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
         
            # printing stars
            print("* ",end="")
      
        # ending line after each row
        print('\r')

In [49]:
pypart(5)

*
* *
* * *
* * * *
* * * * *

In [39]:
# ends the output with a space
print("Welcome to",end='#')
print("GeeksforGeeks")

Welcome to#GeeksforGeeks

In [53]:
print('G','F', sep='', end='')
print('G')
#\n provides new line after printing the year
print('09','12','2016', sep='-',end='\n')

print('Red','Green','Blue', sep=',', end='@')
print('geeksforgeeks')

GFG
09-12-2016
Red,Green,Blue@geeksforgeeks

In [56]:
def pypart(n):
    myList = []
    for i in range(1,n+1):
        myList.append("* "*i)
    print("\n".join(myList))

In [57]:
pypart(5)

*
* *
* * *
* * * *
* * * * *

In [61]:
myList = []
for i in range(1,5+1):
    myList.append("* "*i)
'\n'.join(myList)

'* \n* * \n* * * \n* * * * \n* * * * * '

234

In [3]:
a = 'Nihar'
print(a)
type(a)

Nihar

str

In [6]:
a = 'nihar'
a.capitalize()

'Nihar'

In [7]:
id(a)

2903073735216

In [11]:
a[2::2]

'hr'

In [12]:
l = [1,2,3,4,5]
type(l)

list

In [14]:
l[1:-1:2]

[2, 4]

In [15]:
l[1:len(l)+1:3]

[2, 5]

In [16]:
class Findrandom:
    
    def __init__(self,arr):
        self.arr = arr
        self.cap = []
        
    def operation(self):
        
        for i in self.arr:
            if i not in self.cap:
                self.cap.append(i)
                
        return len(self.cap)

In [17]:
obj = Findrandom([1,2,3,4,1])

In [33]:
type(obj)

__main__.Findrandom

In [18]:
obj.operation()

4

In [20]:
obj = Findrandom([1,1,1,1,1])
obj.operation()

1

In [22]:
import sys

In [30]:
list1 = [i for i in range(1,1000000)]
sys.getsizeof(list1)/1028

8218.607003891051

In [24]:
gen1 = (i for i in range(1,1000000))
sys.getsizeof(gen1)

112

In [25]:
gen1

In [26]:
for i in gen1:
    if i<10:
        print(i)

1
2
3
4
5
6
7
8
9

In [31]:
s1 = {1,2,3,4,6,5,7}
s2 = {6,5,7,8,9,10}

In [32]:
type(s1)

set

In [34]:
s1.difference(s2)

{1, 2, 3, 4}

In [35]:
s1.intersection(s2)

{5, 6, 7}

In [36]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [37]:
d = {'roll_number':[1,2,3,4,5,6,7,8],'marks':[10,20,30,40,50,60,70,80]}

In [38]:
d

{'roll_number': [1, 2, 3, 4, 5, 6, 7, 8],
 'marks': [10, 20, 30, 40, 50, 60, 70, 80]}

In [39]:
type(d)

dict

In [40]:
l

[1, 2, 3, 4, 5]

In [41]:
l.append(5)
l

[1, 2, 3, 4, 5, 5]

In [42]:
l.pop(5)

5

In [43]:
l.extend([1,2,3,4])
l

[1, 2, 3, 4, 5, 1, 2, 3, 4]

In [44]:
import pandas as pd
df = pd.DataFrame(d)
df

   roll_number  marks
0            1     10
1            2     20
2            3     30
3            4     40
4            5     50
5            6     60
6            7     70
7            8     80

In [ ]:
pd.s